{% load static %}

<link href="{% static 'core/css/freelancer.min.css' %}" rel="stylesheet">

<title>Certifiaciones</title>

<div class="container">
    <div>
       
            <img  src="{% static 'core/img/freecode.jpg' %}" class="img-fluid">
    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/python.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/reac.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/git.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/java.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/js.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/jquery.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/c.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/cmas.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/css.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/php.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/sql.jpg' %}" class="img-fluid">

    </div>
    <br>
    <div>
        <img  src="{% static 'core/img/html.jpg' %}" class="img-fluid">

    </div>
    </div>
</div>




<!-- Bootstrap core JavaScript -->
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'core/js/jquery.easing.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'core/js/jqBootstrapValidation.js' %}"></script>

