 <!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">Buenos Aires, Argentina</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://api.whatsapp.com/send?phone=541163660588" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/diegobenitez89"
                    target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://linkedin.com/in/diego-benitez-247a9b124" target="_blank">
                    <i class="fa fa-linkedin "></i>
                </a>

            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Telefono</h4>
                <p class="lead mb-0">11 6366 0588
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Diego Benitez 2020</small>
    </div>
</section>