{% load static %}
<!-- Portfolio Item 1-->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="{% static 'core/img/appcontrol.jpg' %}" alt="">

    </div>
</div>
<!-- Portfolio Item 2-->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>

        </div>
        <img class="img-fluid" src="{% static 'core/img/webporfo.jpg' %}" alt="" width="500" height="500">

    </div>
</div>

<!-- Portfolio Item 3 -->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>

        </div>
        <img class="img-fluid" src="{% static 'core/img/HTML5-CSS3-JS.jpg' %}" alt="" width="500" height="500">

    </div>
</div>

<!-- Portfolio Item 4 -->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>

        </div>
        <img class="img-fluid" src="{% static 'core/img/lavadero.jpg' %}" alt="" width="500" height="500">

    </div>
</div>

<!-- Portfolio Item 5 -->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>

        </div>
        <img class="img-fluid" src="{% static 'core/img/ojos.jpg' %}" alt="" width="500" height="500">

    </div>
</div>

<!-- Portfolio Item 6 -->
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
        <div
            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fa fa-plus fa-3x"></i>
            </div>

        </div>
        <img class="img-fluid" src="{% static 'core/img/login.jpg' %}" alt="" width="500" height="500">

    </div>
</div>