{% load static %}
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">App control de
                stock</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/appcontrol.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">App de control de stock en Python, permite controlar el stock de
                productos de la siguiente manera: Agregar nuevo producto: Asignando Nombre, Precio,
                Stock, Sección a la que pertenece el producto y una imagen. Modificando el producto
                ya creado y Eliminar el producto. (un crud) También cuenta con un Login donde el
                usuario puede darse de alta. La app esta diseñada y desarrollada con HTML5, CSS3,
                Bootstrap 4, JQuery, Django y SQLite3. Contiene archivos estáticos de Bootstrap y
                JQuery para acelerar la carga de las mismas. Tiene un backend soportado por Django
                2.2.7 que aporta carga de templates dinámicamente además de aportar un administrador
                de usuario para la carga de nuevos usuarios y stock de productos con BBdd. Python
                3.7 by Django 2.2.7</p>

            <!-- Portfolio Modal - link -->
            <a href="http://diegobeni.pythonanywhere.com/" target="_blank">Mas información</a>
            <br>
            <a href="https://github.com/diegobenitez89/app_control_stock_python_django" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>

<!--------- portfolio modal item 2----------->

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Web Personal</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/webporfo.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Primera versión de mi página personal, está diseñada y desarrollada con HTML5, CSS3, Bootstrap 4, JQuery, Django y SQLite3. Contiene archivos estáticos de Bootstrap y JQuery para acelerar la carga de las mismas. Tiene un backend soportado por Django 2.2.7 que aporta carga de templates dinámicamente además de aportar un administrador de usuario para la carga de los proyectos en portafolio con BBDD. Python 3.7 with Django 2.2.7</p>

            <!-- Portfolio Modal - link -->
            <a href="http://reydecop.pythonanywhere.com/porfolio/" target="_blank">Mas información</a>
            <br>
            <a href="https://github.com/diegobenitez89/WebPortfolio" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>

<!--------- portfolio modal item 3---------->

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Web Personal con Html, css y javascript</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/HTML5-CSS3-JS.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Web personal realizada íntegramente con HTML5 , CSS3 y JS responsive adaptable a cualquier dispositivo.</p>

            <!-- Portfolio Modal - link -->
        
            <a href="https://github.com/diegobenitez89/WebPortfolio" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>


<!--------- portfolio modal item 4---------->

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Lavadero sr</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/lavadero.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Lavadero S.R es una pagina web responsive, la cual está realizada con Html5, css,js y media querry.</p>

            <!-- Portfolio Modal - link -->
        
            <a href="http://lavaderosr.000webhostapp.com/" target="_blank">Mas información</a>
            <br>
            <a href="https://diegobenitez89.github.io/WebPortfolio/" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>


<!--------- portfolio modal item 5---------->

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Primer juego con javascript</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/ojos.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Primer juego, esta realizado con html, css y js.</p>

            <!-- Portfolio Modal - link -->
        
            <a href="https://codepen.io/diegobenitez89/full/pozbVbo" target="_blank">Mas información</a>
            <br>
            <a href="https://github.com/diegobenitez89/PrimerJuego" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>


<!--------- portfolio modal item 6---------->

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
aria-labelledby="portfolioModal1Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                <i class="fa fa-times"></i>
            </span>
        </button>
        <div class="modal-body text-center">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Portfolio Modal - Title -->
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Página web con login</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>

                <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                </div>

                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Modal - Image -->
            <img class="img-fluid rounded mb-5" src="{% static 'core/img/login.jpg' %}" alt="" width="500" height="500">

            <!-- Portfolio Modal - Text -->
            <p class="mb-5">Página web con registro de usuario, autentificación de usuario, formulario de contacto configurado con email. La app esta diseñada y desarrollada con HTML5, CSS3, Bootstrap 4, JQuery, Django y SQLite3. Contiene archivos estáticos de Bootstrap y JQuery para acelerar la carga de las mismas. Tiene un backend soportado por Django 2.2.7 que aporta carga de templates dinámicamente además de aportar un administrador de usuario para la carga de nuevos usuarios y stock de productos con BBdd. Python 3.7 by Django 2.2.7 </p>

            <!-- Portfolio Modal - link -->
        
           
            <a href="https://github.com/diegobenitez89/loguin_python_django" target="_blank">Codigo de la
                app</a>


            <br>
            <hr>
            <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i>
                Close Window
            </button>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>